.notifications {
    max-width: 800px;
    margin: 40px auto;
}

.notifications h1 {
    margin: 4rem 0;
}

.notifications .notification {
    display: flex;
    align-items: center;
    padding: 5px 0;
    font-size: 1.6rem;
}

.name {
    font-weight: bold;
    margin-right: .8rem;
    text-decoration: none;
    color: var(--text-color);
    letter-spacing: 1px;
}

.thumbnail {
    display: block;
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    object-position: bottom;
    border: .2rem solid var(--secondary-color);
    border-radius: 50%;
    margin: 0 1.5rem;
}

.notifications .photo-notification {
    text-decoration: underline;
    font-weight: bold;
}